<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\CustodyDB.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="CustodyDBConnectionString" connectionString="Data Source=AS\SQLEXPRESS;Initial Catalog=CustodyDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CustodyDBConnectionString2" connectionString="Data Source=AS\SQLEXPRESS;Initial Catalog=CustodyDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CustodyDBConnectionString3" connectionString="Data Source=AS\SQLEXPRESS;Initial Catalog=CustodyDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
